logs/*
settings.json
patterns.json
exe/logs/*
exe/screenCaps/*
exe/settings.json
exe/patterns.json
experimental/logs/*
experimental/screenCaps/*
experimental/settings.json
experimental/patterns.json
screenCaps/*